extends base
block title
  title Home
  
block content
  a.button.button.icon-font.round.success(id="button")&#xf109;
  img(id="image", src="../static/img/Motherboard765x1080.jpg")
  #title
    #text
      .row
        .large-12.large-centered
          .row
            .large-10.large-offset-0.columns
              h1 Advanced Computing Association
              .show-for-medium-up(id="blur")
          .row
            .large-7.large-offset-0.columns
              p The Illinois Mathematics and Science Academy's club for computer science education
            #blur.show-for-medium-up
  #color
  #color1
    #main.row
      .large-12.large-centered.columns
        .row
          .large-6.columns
            article
              h1 About
              p.table-middle ACA provides an environment where a variety of computer skills can be gained through projects and mentors.
              a.button.secondary.tiny.radius(href="about.html") More info
          .large-6.columns.show-for-medium-up
            p.icon-font &#xf15e;
  .separator#separator1
  #color2
    #main2.row
      .large-12.large-centered.columns
        .row
          .large-6.columns.show-for-medium-up
            p.icon-font &#xf124;
          .large-6.columns
            article
              h1 Events
              p.table-middle Upcoming events and workshops are posted at our Events page. There you will find the dates, times, and places for club events.
              a.button.secondary.tiny.radius(href="#") Events Page
  .separator#separator2
  #color3
    #main3.row
      .large-12.large-centered.columns
        .row
          .large-6.columns
            article
              h1 Projects
              p.table-middle In addition to the learning workshops that ACA conducts, there are many other ACA projects, such as the ACA Wiki, the Gaming Tunnel, and the ACA CTF.
              a.button.secondary.tiny.radius(href="#") Projects
          .large-6.columns.show-for-medium-up
            p.icon-font &#xf215;